<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Displaydat - Main Dashboard</title>
  <meta name="description" content="Displaydat - A way to display information.">
  <meta name="author" content="DisplayDat and an amazing Community of Developers">
  <link rel="icon" href="/favicon.ico">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
  <!-- your content here... -->
  <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
