<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Displaydat - Main Dashboard</title>
    <meta
      name="description"
      content="Displaydat - A way to display information."
    />
    <meta
      name="author"
      content="DisplayDat and an amazing Community of Developers"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    {% for widget_name in c.styles %}
      <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/widgets/' + widget_name + '.css') }}"
    />
    {% endfor %}
  </head>

  <body>
    <div id="displaydat">
      <main class="container">
        {% for widget in c.widgets %}
          {{ widget.rendered|safe }}
        {% endfor %}
      </main>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  </body>
</html>
