body {
  background-color: black;
  color: white;
}

div#displaydat {
  main.container {
    display: grid;
    grid-template-columns: repeat(author-fill, minmax(80px, 1fr));
    gap: 2px;
    grid-auto-rows: minmax(1fr, 3fr);
    grid-auto-flow: dense;
    padding: 1rem;

    .block {
      border-radius: 3px;
      padding: 0.25rem;

      // Grids are used in placing the blocks.
      // This video is super crazy helpful.
      // https://gridbyexample.com/video/series-line-based-placement/
      &.status_good {
        background-color: grey;
      }

      &.status_attention {
        background-color: orange;
      }

      &.status_warning {
        background-color: red;
      }

      &.span2 {
        grid-column-end: span 2;
      }

      &.span3 {
        grid-column-end: span 3;
      }

      &.tall2 {
        grid-row-end: span 2;
      }

      &.tall3 {
        grid-row-end: span 2;
      }

      &.tall4 {
        grid-row-end: span 4;
      }
    }
  }
}